services:
  satrio-dev:
    build: .
    container_name: satrio-dev
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    networks:
      - integrate
    deploy:
      update_config:
        order: start-first
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000/"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s

networks:
  integrate:
    external: true
