# Kustomization for easy deployment
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: satrio-dev

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml

commonLabels:
  app.kubernetes.io/name: satrio-dev
  app.kubernetes.io/managed-by: kustomize
